@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  /* border: 2px solid red; */
}

::-webkit-scrollbar {
  display: none;
}

#selector {
  cursor: none;
}

.homeHeader {
  /* color: white; */
  /* mix-blend-mode: difference; */
  color: #747573;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 10px;
  border: 5px solid #747573;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  font-size: xx-large;
}

.homeHeader:hover {
  color:#0C95F1;
  border: 5px solid 
}

.landingContainer {
  background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1610767149/Portfolio1/Typography_half_screen_td1lqu.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* z-index: -100; */
}

.myName{
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 700px;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  /* text-shadow: black 0.1em 0.1em; */
  /* border: 2px solid red; */
  text-align: left;
  
}

#hello{
  margin: 0 auto;
  color: black;
  /* text-align: center; */
  font-size: 36px;
  font-weight: bold;
  /* border: 2px solid red; */
  width: 100%;
  font-family: 'Josefin Slab', serif;

}

#name{
  margin: 0 auto;
  font-size: 60px;
  color: black;
  letter-spacing: 15px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

#designer{
  margin: 0 auto;
  color: black;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#myPic{
border-radius: 50%;
height: 300px;
width: 300px;
border: 4px solid black;
filter: grayscale(1);
transition: 0.5s;
margin: 30px;
}

#myPic:hover {
  filter: grayscale(0);
}

#myElement {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
}

.mobileBanner {
  display: none;
}

/* About Component */
.aboutContainer {
  background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1610351379/Portfolio1/Typography_Portfolio_By_Sometimes_1_mbymvs.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.aboutMe{
  border: 2px solid red;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 90vw;
}

/* End of About Component */

.nav {
  position: sticky;
  top: 0;
  background: black;
  height: 50px;
  width: 100vw;
  /* mix-blend-mode: difference; */
  display: flex;
  justify-content: center;
  align-items: center;  
  border-bottom: 2px solid white; 
}

.nav a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 3vw;
}
a:hover{
  color:#0C95F1;
    /* color: #454955; */
    /* filter: brightness(200%); */
}

.workContainer {
  background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1610351379/Portfolio1/Typography_Portfolio_By_Sometimes_1_mbymvs.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.contactContainer {
  background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1610351379/Portfolio1/Typography_Portfolio_By_Sometimes_1_mbymvs.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}











@media only screen and (max-width: 768px){
  .landingContainer {
    /* background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1610768189/Portfolio1/Typography_Portfolio_By_Sometimes_tablet_j9ymbf.png"); */
    background-image: none;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .homeHeader{
    font-size: x-large;
  }


  .myName{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 700px;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-shadow: black 0.1em 0.1em; */
    /* border: 2px solid red; */
    text-align: left;
    
  }

  #hello{
    margin: 0 auto;
    color: black;
    /* text-align: center; */
    font-size: 24px;
    font-weight: bold;
    /* border: 2px solid red; */
    width: 100%;
    font-family: 'Josefin Slab', serif;
  
  }

  #myPic{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 4px solid black;
    filter: grayscale(1);
    transition: 0.5s;
    margin: 30px;
    }
    
    #myPic:hover {
      filter: grayscale(0);
    }
    
    #myElement {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Josefin Slab', serif;
    }

}
@media only screen and (max-width: 500px){

  .landingContainer {
    background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1610351379/Portfolio1/Typography_Portfolio_By_Sometimes_1_mbymvs.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .homeHeader {
    color:black;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
    border: 5px solid white;
    padding: 10px;
    text-align: center;
    mix-blend-mode: difference;
    font-size: x-large;
    margin: 0 auto;
    background: white;
    text-align: center;
  }

  .mobileBanner {
    display: flex;
    flex-direction: column;
    color: black;
    border: 5px solid white;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    width: 80vw;
    height: 80vw;
    font-size: 25px;
    letter-spacing: 20px;
    background: white;
  }

  .aboutContainer {
    background-image: url("https://res.cloudinary.com/dvug8hy5k/image/upload/v1610351379/Portfolio1/Typography_Portfolio_By_Sometimes_1_mbymvs.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .nav {
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    background: black;
    height: 50px;
    width: 100vw;
    /* mix-blend-mode: difference; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    color: white; 
    border-top: 2px solid white;
  }

  a {
    text-decoration: none;
    color:black;
    font-weight: 700;
    padding: 10px;
  }

  .myName {
    display: none;
  }



}